<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Profile Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        body {
            font-family: "Garamond", serif;
        }

        .hero.is-danger, .has-background-primary {
            background-color: #333; /* Change the hero section background color */
            color: white; /* Set text color to white for contrast */
        }

        .button.is-primary {
            background-color: #333; /* Set button color */
            color: white; /* Set button text color */
            border-color: white;
        }

        .button.is-primary:hover {
            background-color: #eee; /* Lighter shade for hover effect */
            color: #333;
        }

        input, textarea {
            background-color: #eee; /* Light background for inputs */
            color: #333; /* Text color for inputs */
        }

        label {
            color: white; /* Set label text color */
        }

        .file-cta {
            background-color: white; /* Set file input background */
            color: #333; /* Set file input text color */
        }
    </style>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar" style="background-color: #333; color: white; padding: 10px 0;">
        <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
            <span class="navbar-item" style="font-size: 1.5em;">Edit Profile</span>
            <div>
                {% if barber and barber.user %}
                    <a class="navbar-item" href="{% url 'barberProfileView' slug=barber.user.slug %}" style="color: white; margin-right: 20px;">Back to Profile</a>
                {% else %}
                    <a class="navbar-item" href="{% url 'index' %}" style="color: white; margin-right: 20px;">Home</a> <!-- Fallback link -->
                {% endif %}
                <a href="{% url 'update_working_hours' %}" class="button is-link" style="background-color: #4CAF50; color: white; border: none;">Edit Working Hours</a>
            </div>
        </div>
    </nav>


    <div class="container mt-4">
        

        <form id="profile-form" enctype="multipart/form-data" method="post" action="">
            {% csrf_token %}
            <div class="columns">
                <div class="column is-one-third">
                    <div class="profile-picture">
                        <img src="{{ user.profile_pic.url }}" alt="User's Profile Picture">
                        <div class="file is-centered is-boxed">
                            <label class="file-label">
                                <input class="file-input" type="file" id="profile_pic" name="profile_pic" accept="image/*">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">Choose a file…</span>
                                </span>
                            </label>
                        </div>
                        <div class="field">
                        <a href="{% url 'update_working_hours' %}" class="button is-link">Edit Working Hours</a>
                        </div>
                        <div class="field">
                        <a class="button is-link" href="{% url 'manage_services' %}">Manage Services</a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="first-name">First Name</label>
                        <div class="control">
                            <input class="input" type="text" id="first-name" name="first_name" value="{{ user.first_name }}" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="last-name">Last Name</label>
                        <div class="control">
                            <input class="input" type="text" id="last-name" name="last_name" value="{{ user.last_name }}" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="phone-number">Phone Number</label>
                        <div class="control">
                            <input class="input" type="tel" id="phone-number" name="phone_num" value="{{ user.phone_num }}" pattern="[0-9]{10}" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit">Save</button>
                        </div>
                    </div>
                    <div class="service-list">
                        <label class="label">Existing Services</label>
                        <ul>
                            {% for service in existing_services %}
                                <li>
                                    {{ service.title }} - {{ service.description }} - Duration: {{ service.duration }} - Price: {{ service.price }}
                                    <!-- Add buttons/links for editing/deleting services -->
                                    <a href="{% url 'edit_service' service.id %}">Edit</a> | 
                                    <a href="{% url 'delete_service' service.id %}">Delete</a>
                                </li>
                            {% empty %}
                                <li>No services found.</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="add-service">
                    
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="field">
                                <label class="label" for="id_title">Title</label>
                                <div class="control">
                                    <input class="input" type="text" id="id_title" name="title" value="{% if service_form.title.value %}{{ service_form.title.value }}{% else %}{% endif %}" placeholder="Service Title">
                                    {% if service_form.title.errors %}
                                        <p class="help is-danger">{{ service_form.title.errors }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="id_description">Description</label>
                                <div class="control">
                                    <textarea class="textarea" id="id_description" name="description" placeholder="Service Description">{% if service_form.description.value %}{{ service_form.description.value }}{% else %}{% endif %}</textarea>
                                    {% if service_form.description.errors %}
                                        <p class="help is-danger">{{ service_form.description.errors }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="id_price">Price</label>
                                <div class="control">
                                    <input class="input" type="number" id="id_price" name="price" value="{% if service_form.price.value %}{{ service_form.price.value }}{% else %}{% endif %}" placeholder="Service Price">
                                    {% if service_form.price.errors %}
                                        <p class="help is-danger">{{ service_form.price.errors }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="id_duration">Duration (in minutes)</label>
                                <div class="control">
                                    <input class="input" type="number" id="id_duration" name="duration" value="{% if service_form.duration.value %}{{ service_form.duration.value }}{% else %}{% endif %}" placeholder="Service Duration">
                                    {% if service_form.duration.errors %}
                                        <p class="help is-danger">{{ service_form.duration.errors }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary" type="submit">Add Service</button>
                                </div>
                            </div>
                        </form>
                    </div>                              
                                        
                </div>
            </div>
        </form>

    <script>
        document.getElementById("profile_pic").addEventListener("change", function () {
            var input = this;
            var img = document.querySelector(".profile-picture img"); // Select the image element

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    img.src = e.target.result;
                };

                reader.readAsDataURL(input.files[0]);
            }
        });
    </script>
</body>
</html>
