<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        body {
            font-family: "Garamond", serif;
        }
    </style>
</head>
<body>
    <section class="hero is-danger">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Customer Profile</h1>
            </div>
        </div>
    </section>

    <div class="container mt-4">
        <div class="columns">
            <div class="column is-one-third">
                <div class="profile-picture">
                    <img src="{{ user.profile_pic.url }}" alt="User's Profile Picture">
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">First Name</label>
                    <div class="control">
                        <p>{{ user.first_name }}</p>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Last Name</label>
                    <div class="control">
                        <p>{{ user.last_name }}</p>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Phone Number</label>
                    <div class="control">
                        <p>{{ user.phone_num }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>