{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Customer Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer_profile.css' %}">
</head>
<body>
    <header class="has-background-primary has-text-white">
        <h1 class="title">Customer Profile</h1>
    </header>

    <div class="profile-container">
        <div class="profile-picture">
            <img src="{{ customer.profile_pic.url }}" alt="Profile Picture">
        </div>

        <div class="profile-details">
            <h2>{{ customer.first_name }} {{ customer.last_name }}</h2>
            <p>Username: {{ customer.username }}</p>
            <p>Email: {{ customer.email }}</p>
            <p>Phone Number: {{ customer.phone_num }}</p>
        </div>
    </div>

    <footer class="has-background-white has-text-black">
        <a href="{% url 'profileUpdate' customer.slug %}" class="button is-primary">Edit Profile</a>
    </footer>
</body>
</html>

