{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Customer Signup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Barber/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <style>
        body {
            background-color: #4d4a4a; /* Jet Black Background */
        }
    </style>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title has-text-white">Customer Signup</h1>
            
            <form method="post" action="{% url 'customerSignup' %}" class="form">
                {% csrf_token %}
                <div class="field">
                    <label class="label has-text-white" for="username">Username:</label>
                    <div class="control">
                        <input class="input" type="text" id="username" name="username" required>
                    </div>
                </div>
            
                <div class="field">
                    <label class="label has-text-white" for="email">Email:</label>
                    <div class="control">
                        <input class="input" type="email" id="email" name="email" required>
                    </div>
                </div>
            
                <div class="field">
                    <label class="label has-text-white" for="password1">Password:</label>
                    <div class="control">
                        <input class="input" type="password" id="password1" name="password1" required>
                    </div>
                </div>
            
                <div class="field">
                    <label class="label has-text-white" for="password2">Confirm Password:</label>
                    <div class="control">
                        <input class="input" type="password" id="password2" name="password2" required>
                    </div>
                </div>
            
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">Sign Up</button>
                    </div>
                </div>
            </form>
            
            <!-- Add this section to display form errors -->
            {% if form.errors %}
            <div class="notification is-danger">
                <ul>
                    {% for field, errors in form.errors.items %}
                        <li>{{ field }}: {{ errors }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            
        </div>
    </section>
</body>
</html>
