{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LineUp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Barber/styles.css' %}">
    <style>
        /* Add CSS for the username in the top right corner */
        .user-info {
            position: absolute;
            top: 10px;
            right: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <header>
        <h1>Welcome to LineUp</h1>
        {% if user.is_authenticated %}
        <div class="user-info">Welcome, {{ user.username }}</div>
        <!-- Add the "My Profile" button to the header -->
        <a href="{% url 'profileView' slug=user.slug %}" class="button">My Profile</a>
        <a href="{% url 'custom_logout' %}" class="button">Logout</a>
        {% endif %}
    </header>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#reviews">Reviews</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    
    <section id="home">
        <h2>Quality Haircuts & Designs</h2>
        <p>Book your appointment today!</p>
        <a href="#book" class="button">Book Now</a>
    </section>
    
    <section id="about">
        <h2>About Us</h2>
        <p>LineUp is a new experience for barbers, companies, and clientele to connect</p>
    </section>
    
    <section id="services">
        <h2>Services & Pricing</h2>
        <ul>
            <li>Haircut & Design - $490</li>
            <li>Beard Trim - $375</li>
            <li>Fade - $450</li>
        </ul>
    </section>
    
    <section id="reviews">
        <h2>Customer Reviews</h2>
        <!-- Insert customer reviews here -->
        <p>They gave me the boosie fade, recommend this place</p>
    </section>
    
    <section id="contact">
        <h2>Contact Us</h2>
        <p>Give us a call at 111-111-1111</p>
    </section>
    
    <footer>
        <p>&copy; 2023 LineUp</p>
    </footer>
</body>
</html>