{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LineUp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Barber/styles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to LineUp</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#reviews">Reviews</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    
    <section id="home">
        <h2>Quality Haircuts & Designs</h2>
        <p>Book your appointment today!</p>
        <a href="#book" class="button">Book Now</a>
    </section>
    
    <section id="about">
        <h2>About Us</h2>
        <p>LineUp is a new experience for barbers, companies, and clientele to connect</p>
    </section>
    
    <section id="services">
        <h2>Services & Pricing</h2>
        <ul>
            <li>Haircut & Design - $40</li>
            <li>Beard Trim - $35</li>
            <li>Fade - $45</li>
        </ul>
    </section>
    
    <section id="reviews">
        <h2>Customer Reviews</h2>
        <!-- Insert customer reviews here -->
	<p>They gave me the boosie fade, recommend this place</p>
    </section>
    
    <section id="contact">
        <h2>Contact Us</h2>
        <p>Give us a call at 111-111-1111</p>
    </section>
    
    <footer>
        <p>&copy; 2023 LineUp</p>
    </footer>
</body>
</html>
